.features-section__icon {
  margin-block-end: 20px;
  fill: var(--features-card-icon-color, #4f4f4f);
}

.features-section__card:hover .features-section__icon {
  fill: var(--accent-color, #e9862a);
}