.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: var(--main-font), Inter, Arial, Helvetica, sans-serif;
  font-weight: var(--main-weight, 400);
  color: var(--secondary-color, #4f4f4f);
  background-color: var(--main-color, #fff);
  font-size: 13px;
  position: relative;
}