.team-section__card-role {
  color: var(--card-role-color, #828282);
  font-family: inherit;
  font-weight: inherit;
  font-size: clamp(0.8125rem, 0.6786rem + 0.6696vw, 1rem);
  line-height: 28px;
  text-align: inherit;
  margin-block-end: clamp(0.9375rem, -0.1786rem + 5.5804vw, 2.5rem);
}