.hero-section__background-element {
  --shiftX: -25%;
  --scaleX: 65%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--background-layer, 0);
  transform: translateX(var(--shiftX)) scaleX(var(--scaleX));
}

@media (min-width: 768px) {
  .hero-section__background-element {
    --shiftX: clamp(-17.25rem, -31.7763rem + 30.2632vw, 0rem);
  }
}

@media (min-width: 1024px) { /* Для более плавного изменения формы фигуры */
  .hero-section__background-element {
    --shiftX: clamp(-36.557875rem, -67.3435rem + 64.1366vw, 0rem);
    --scaleX: 100%;
  }
}