.header__line {
  display: none;
  position: absolute;
  bottom: 36px;
  left: 0;
  inline-size: 100%;
  block-size: 1px;
  border-bottom: 1px solid var(--header-line-color, f2f2f2);
}

@media (min-width: 1680px) {
  .header__line {
    display: block;
  }
}