.header__menu-button {
  padding: 0;
  inline-size: 28px;
  block-size: 18px;
  background: transparent;
  background-size: 28px 18px;
  border: none;
  cursor: pointer;
}

@media (min-width: 1680px) {
  .header__menu-button {
    display: none;
  }
}