.form__input-file {
  display: block;
  min-block-size: 100%;
  font-family: var(--main-font), Inter, Arial, Helvetica, sans-serif;
  font-weight: var(--main-weight, 400);
  font-size: clamp(0.75rem, 0.6161rem + 0.6696vw, 0.9375rem);
  line-height: clamp(0.93rem, 0.7639rem + 0.8304vw, 1.1625rem);
  color: var(--input-file-color, #187cd3);
  text-align: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .form__input-file {
    min-inline-size: clamp(15.8125rem, 15.3388rem + 0.9868vw, 16.375rem);
  }
}