.team-section__card-title {
  color: var(--card-text-color, #242627);
  font-family: inherit;
  font-weight: inherit;
  font-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 1.75rem);
  line-height: 28px;
  text-align: inherit;
  margin-block-end: clamp(0.3125rem, -0.3571rem + 3.3482vw, 1.25rem);
}

@media (min-width: 768px) {
  .team-section__card-title {
  font-size: clamp(1.75rem, 1.3289rem + 0.8772vw, 2.25rem);
  }
}