:root {
  --main-color: #fff;
  --secondary-color: #4f4f4f;
  --accent-color: #e9862a;
  --header-line-color: #f2f2f2;
  --header-link-color: #242627;
  --header-button-color: #187cd3;
  --hero-background-color: #003264;
  --features-card-border-color: #ededed;
  --features-card-title-color: #242627;
  --features-card-description-color: #646464;
  --features-card-icon-color: #4f4f4f;
  --card-background-color: #f7f7f7;
  --card-text-color: #242627;
  --card-role-color: #828282;
  --card-button-border-color: #e0e0e0;
  --footer-text-color: #828282;
  --footer-link-color: #187cd3;
  --footer-logo-color: #c3c8c8;
  --main-font: Helios;
  --accent-font: HeliosC;
  --secondary-font: Gilroy;
  --main-weight: 400;
  --accent-weight: 700;
  --secondary-weight: 500;
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1680px;
  --background-layer: 0;
  --middleground-layer: 1;
  --foreground-layer: 2;
}