.form__submit-block {
  min-inline-size: 100%;
}

.form__submit-block .form__validation-message {
  top: 75%;
  left: 4px;
}

@media (min-width: 768px) {
  .form__submit-block {
    padding: 38px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--submit-block-border-color, #f2f2f2);
  }

  .form__submit-block .form__input-block {
    min-inline-size: auto;
  }
}