.team-section__card-image {
  --shiftX: calc(-1 * clamp(2.5rem, 1.1607rem + 6.6964vw, 4.375rem));
  --shiftY: clamp(0.3125rem, -0.1339rem + 2.2321vw, 0.9375rem);
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
  transform: translate(var(--shiftX), var(--shiftY)) scale(1.05);
}

@media (min-width: 768px) {
  .team-section__card-image {
    --shiftX: clamp(-4.375rem, -30.1645rem + 53.7281vw, 26.25rem);
    transform: translate(var(--shiftX), var(--shiftY)) scale(0.95);
  }
}

@media (min-width: 1680px) {
  .team-section__card-image {
    transform: translate(420px, 15px) scale(0.95);
  }
}